@model Category


<h1>Category details for @Model.CategoryName</h1>

<div class="row">
    <div class="col-md-6">
        <img src="@Model.Picture" class="img-thumbnail" style="max-height:300px;" alt="" />
    </div>
    <div class="col-md-6">
        <ul>
            <li>
                Id: @Model.CategoryId
            </li>
            <li>
                Name: @Model.CategoryName
            </li>
            <li>
                Des: @Model.Description
            </li>
            <li>
               CategoryCode: @Model.CategoryCode
            </li>
            @*<li>
                <a href="/Categories/DC?P=@Model.Catalogue">Download Catalogue</a>
            </li*@>
        </ul>
    </div>

</div>




<a href="/Categories/Index">View All Categories</a>