@model IList<Category>



<h1>
    Total Categories: @Model.Count()

   
</h1>


<button type="button" class="btn btn-primary position-relative">
    Notifications
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
    </span>
</button>


@*
<h1>
    This data is coming through .load function <span id="scc"></span>
</h1>


<a id="cc" href="#">Get Categoreis Count</a>

<h1 id="ccdata">
</h1>*@



<a href="/Categories/Create">Add New Category</a>


<table class="table table-bordered">

    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th>
                CategoryId
                </th>
            <th>
                CategoryName
            </th>
            <th>
                Description
            </th>
            <th>
                CategoryCode
            </th>

            <th>
                DisplayOrder
            </th>
            <th>
                CreatedDate
            </th>
            <th>
                 CreatedBy
            </th>
            <th>
                 ModifiedDate
            </th>
            <th>
                 ModifiedBy
            </th>
            <th>
                 IsActive
            </th>
            <th>
                AttachmentId
            </th>
            <th>
                IsDeleted
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (Category C in Model)
        {

           @* @if (C.Status == "Active")*@
            
                <tr> @*class="text-success">*@
                    <td>
                        <img src="@C.Picture" class="img-thumbnail" style="max-height:100px;" alt="" />
                    </td>
                <td>
                    @C.CategoryId
                </td>
                <td>
                    @C.CategoryName
                </td>
                <td>
                    @C.Description
                </td>
                <td>
                    @C.CategoryCode
                </td>

                <td>
                    @C.DisplayOrder
                </td>
                <td>
                    @C.CreatedDate
                </td>
                <td>
                    @C.CreatedBy
                </td>
                <td>
                    @C.ModifiedDate
                </td>
                <td>
                    @C.ModifiedBy
                </td>
                <td>
                    @C.IsActive
                </td>
                <td>
                    @C.AttachmentId
                </td>
                <td>
                    @C.IsDeleted
                </td>
                    <td>
                        <a href="/Categories/Detail?id=@C.CategoryId" class="btn btn-info">Detail</a>
                        @*<a href="/Categories/Delete?id=@C.Id" class="btn btn-danger">Delete</a>*@

                        <a href="#" data-id="@C.CategoryId" class="deletebutton btn btn-danger">Delete</a>

                        <a href="/Categories/Edit?id=@C.CategoryId" class="btn btn-warning">Edit</a>
                    </td>
                </tr>
            
            
            
                <tr> @*class="text-danger">*@
                    <td>
                        <img src="@C.Picture" class="img-thumbnail" style="max-height:100px;" alt="" />
                    </td>
                <td>
                    @C.CategoryId
                </td>
                <td>
                    @C.CategoryName
                </td>
                <td>
                    @C.Description
                </td>
                <td>
                    @C.CategoryCode
                </td>

                <td>
                    @C.DisplayOrder
                </td>
                <td>
                    @C.CreatedDate
                </td>
                <td>
                    @C.CreatedBy
                </td>
                <td>
                    @C.ModifiedDate
                </td>
                <td>
                    @C.ModifiedBy
                </td>
                <td>
                    @C.IsActive
                </td>
                <td>
                    @C.AttachmentId
                </td>
                <td>
                    @C.IsDeleted
                </td>
                    <td>
                        <a href="/Categories/Detail?id=@C.CategoryId" class="btn btn-info">Detail</a>
                        @*<a href="/Categories/Delete?id=@C.Id" class="btn btn-danger">Delete</a>*@
                        <a href="#" data-id="@C.CategoryId" data-name="@C.CategoryName" class="deletebutton btn btn-danger">Delete</a>
                        <a href="/Categories/Edit?id=@C.CategoryId" class="btn btn-warning">Edit</a>
                    </td>
                </tr>
            

        }

    </tbody>
</table>




@*<div id="MyTable">
</div>*@



@section ABC{
   

    <script>

        $(function () {

            $("table").DataTable();


            $('nav').draggable();

            $("h1").click(function () {

                $("table").toggle();


            });


        });


    </script>

    }


 








@*@section ABC{

    <script>



        $(function () {
         
            
            
            
            
        



            $("#scc").load("/Categories/GetCategoriesCount");

            $("#MyTable").load("/Categories/GetTable");


            $("#cc").click(function () {

                $.ajax({

                    method: "GET",
                    url: "/Categories/GetCategoriesCount",
                    complete: function (abc) {
                        console.log(abc);
                        $("#ccdata").html(abc.responseText);


                    }


                });




            });




















            $(".deletebutton").click(function () {
                var delbutton = $(this);
                var cid = delbutton.data("id");



                $.ajax({

                    method: "POST",
                    url: "/Categories/DeleteAjax",
                    data: {

                        id: cid


                    },
                    complete: function (abc) {

                        console.log(abc);
                        if (abc.responseText == "1") {

                            delbutton.parent().parent().fadeOut(5000);
                        }
                        else {

                        }
                    }
    </script>
    }
*@