@model Item


<h1>Item details for @Model.Name</h1>

<div class="row">




    <div class="col-md-6">

        @{
            string MainImage = "/data/items/default.jpg";
            string[] AllImages = null;
            if (Model.Images != null)
            {
                AllImages = Model.Images.Split(",");
                MainImage = AllImages[0];
            }

        }



        <img src="@MainImage" class="bigimage img-thumbnail" style="max-height:300px;" alt="" />
        <img id="zoomImage" src="@MainImage" alt="Zoomable Image">




        <div class="row">

            @for (int i = 0; i < AllImages.Length; i++)
            {
                <img src="@AllImages[i]" data-imagepath="@AllImages[i]" class="smallimages col-md-3 img-thumbnail" style="max-height:80px;" alt="" />
                
            }
        </div>




    </div>












    <div class="col-md-6">
        <ul>
            <li>
                Id: @Model.Id
            </li>
            <li>
                Name: @Model.Name
            </li>
            <li>
                Des: @Model.Description
            </li>
            <li>
                Quantity: @Model.Quantity
            </li>
            <li>
                Price: @Model.Price
            </li>
            <li>
                Model: @Model.Model
            </li>
            <li>
                Color: @Model.Color
            </li>
            <li>
                DisAmount: @Model.DiscountAmount
            </li>
            <li>
                CreatedDate: @Model.CreatedDate
            </li>
            
        </ul>
      </div>

</div>

   



@*
<a href="/Items/Index">View All Items</a>


<div id="Div1" attr-Url="@Url.Action("Detail", "items",
                                                    new { area = "Area Name" })">
</div>

<div id="Div2" attr-Url="@Url.Action("Detail", "items",
                                                    new { area = "Area Name" })">
</div>

<div id="Div3" attr-Url="@Url.Action("Detail", "items",
                                                    new { area = "Area Name" })">
</div>

*@
@*@section ABC {
    <script>




        $(document).ready(function () {
            var url = $('Div1').attr('attr-Url');
            $('Div1').load(url, function () {

                //Success callback
                url = $('Div2').attr('attr-Url2');
                $('Div2').load(url, function () {

                    //Success callback
                    url = $('Div3').attr('attr-Url3');
                    $('Div3').load(url, function () {

                        //Success callback
                    });
                });
            });
        });



    </script>



}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>load demo</title>
    <style>
        body {
            font-size: 12px;
            font-family: Arial;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>

    <b>Projects:</b>
    <ol id="new-projects"></ol>

    <script>
        $("#new-projects").load("/resources/load.html #projects li");
    </script>

</body>
</html>

*@


@section ABC{
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to zoom in when the image is clicked
        $("#zoomImage").click(function () {
            $(this).toggleClass("zoomed"); // Toggle a CSS class for zooming
        });
    });
</script>
}

